<div class="disclaimer" [ngClass]="{'opened': opened}">
  <div class="container dis-container" (click)="toggle()" >
    <div class="row">
      <div class="col-11 col-sm-11 col-md-11 col-lg-11 title">
        Disclaimer
      </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 image-col">
        <img class="img-col" src="/assets/images/Icons/Functional/Chevron_Down.svg">
        <!--<img src="assets/images/Icons_Chevron_Down.png">-->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="divider"></div>
      </div>
    </div>
  </div>
  <div class="container text-container">
    <div class="row border-row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <p>The information contained on this website (the “Information”) has been prepared by CIBC World Markets Inc.
          (“CIBC”), is confidential and is intended only for the use of the individuals to whom it is presented. The
          Information may not be reproduced, disseminated, quoted from or referred to in whole or in part at any time,
          in any manner or for any purpose, without obtaining the prior written consent of CIBC in each specific
          instance.
        </p>

        <p>The Information is not intended to constitute a “report, statement or opinion of an expert” for purposes of
          the securities legislation of any province or territory of Canada or otherwise. The Information is for
          information purposes only and does not constitute an offer to sell or the solicitation of an offer to purchase
          the investment products described herein. An investment in structured notes (“Notes”) may not be suitable for
          all investors. Important information about these investments is contained in the Information Statement, Terms
          of Offering or Prospectus and Prospectus Supplement of each note (the “Offering Documentation”), as
          applicable, which will be delivered to purchasers. The Information is not a recommendation to purchase the
          investment products described on this website.
        </p>

        <p>Certain information contained herein was (i) obtained from public sources and/or (ii) calculated by CIBC
          using data publicly available. Such information and any statistical data contained herein have been obtained
          from sources which CIBC and Canadian Imperial Bank of Commerce believe to be reliable, but neither CIBC nor
          Canadian Imperial Bank of Commerce has independently verified the accuracy or completeness of any such
          information nor assumes any responsibility or liability of any nature whatsoever for the completeness,
          adequacy or accuracy of such information.
        </p>

        <p>Any examples contained herein are included for illustrative purposes only and are not intended to predict
          actual results, which may differ substantially from those reflected herein. Any historical investment results
          or trends described herein are not indicative of future investment results or trends. There can be no
          assurance that any market will perform as well as, or in a manner similar to, past performance.
        </p>

        <p>Any investment in the Notes described herein presents risks. Prior to making any investment decision,
          investors should conduct such investigations as they deem necessary to determine if an investment in such
          Notes is appropriate and suitable and should consult their financial, legal, accounting and tax advisers in
          order to determine the consequences of an investment in such financial products and the suitability of the
          investment product for their purposes and in their particular circumstances.
        </p>

        <p>CIBC and its affiliates expressly disclaim any liability or responsibility to you or to any other person for
          any general, direct, indirect, incidental, special or consequential losses or damages (including, but not
          limited to, loss of profits or revenue or failure to realize expected profits or savings or the avoidance of
          any losses) arising out of or related to the Information or its use.
        </p>

        <p>CIBC is a wholly-owned subsidiary of Canadian Imperial Bank of Commerce and part of Canadian Imperial Bank of
          Commerce’s wholesale banking arm. CIBC Cube Design is a trademark of CIBC. CIBC Capital Markets and the CIBC
          Cube Design are trademarks of Canadian Imperial Bank of Commerce, used under license by CIBC.
        </p>
      </div>
    </div>
  </div>
</div>
