<div class="Login_Wrapper">
  <div class="Login_Overlay"></div>
  <div class="Login_Container">
    <div class="Login_InnContainer">
      <div class="Login_Header">Forget Password</div>
      <div class="ErrorMessage"><span class="fa fa-exclamation-circle"></span><span
        class="text">Enter Valid Username </span></div>
      <div class="Login_Body">
        <form class="example-form" (ngSubmit)="onSubmit()">
          <div class="app-mat-form-field">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" value="" [formControl]="uNameFormControl"
                     [errorStateMatcher]="matcher">
              <mat-error *ngIf="uNameFormControl.hasError('required')">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <button class="Signin" type="submit">Submit</button>
        </form>

      </div>
      <div class="Login_Foo">
        <div class="Foo_left">
          <div>Return</div>
          <div><a [routerLink]="'/login'">Back to CIBC.com</a></div>
        </div>
        <div class="Foo_right"><img src="/assets/images/Footer_Logo.png"></div>
      </div>
    </div>
  </div>
  <div class="Login_footer">
    <img src="./assets/images/Footer_Logo.png">
    <span>Canadian Imperial Bank of Commerce Website. Copyright &copy; CIBC</span></div>
</div>
