<div class="Securitization-table-component">
  <div class="container app-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="table-title">{{title}}</div>
      </div>
      <div class="col-lg-6">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 table-container">
        <div class="row mat-table Securitization-table-header">
          <div class="col-lg-4 col-sm-4 col-4 text title-head Securitization-table-col">Title</div>
          <div class="col-lg-3 col-sm-3 col-3 date Securitization-table-col">Date</div>
          <div class="col-lg-3 col-sm-3 col-3 Securitization-table-col">Language</div>
          <div class="col-lg-2 col-sm-2 col-2 Securitization-table-col"></div>
        </div>
        <div class="row Securitization-table-row mat-table" *ngFor="let row of tableData" [ngClass]="{'opened': row.opened}">
          <div class="col-lg-4 col-sm-4 col-4 text Securitization-table-col">{{row.name}}</div>
          <div class="col-lg-3 col-sm-3 col-3 date Securitization-table-col">{{row.date}}</div>
          <div class="col-lg-3 col-sm-3 col-3 Securitization-table-col">{{row.language}}</div>
          <div class="col-lg-1 col-sm-1 col-1 Securitization-table-col"><img class="img-col" src="assets/images/Icons_Download.png"></div>
          <div class="col-lg-1 col-sm-1 col-1 Securitization-table-col show-details" (click)="toggleRow(row)">
            <img class="img-col" src="assets/images/Icons_Chevron_Down.png">
          </div>
          <div class="col-lg-12 col-sm-12 col-12 dates-container">
            <div class="row" *ngFor="let date of row.dates">
              <div class="col-9 col-sm-9 col-md-9 col-lg-9 text-date Securitization-table-col">{{date.dateText}}</div>
              <div class="col-3 col-sm-3 col-md-3 col-lg-3 Securitization-table-col icon-col">
                <img src="assets/images/Arrow_Inactive.png" class="inactive">
                <img src="assets/images/Arrow_Active.png" class="active">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
