<div class="banner" [ngClass]="{'on-mobile': (!isHandset$ | async)}">
  <div class="image-conatiner" [ngClass]="{'loaded': pageLoaded}">
    <!--<img src="assets/images/Background.jpg">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
                  [showNavigationIndicators]="showNavigationIndicators">
      <ng-template ngbSlide *ngFor="let image of images">
        <img [src]="image" alt="Random slide" class="img-fluid">
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 banner-title">
        <!--<div class="app-title">SECURITIZATION</div>-->
        <div>{{bannerTitle}}</div>
      </div>
    </div>
  </div>
</div>
